/****** Object:  Table [dbo].[bill]    Script Date: 12/07/2012 15:25:27 ******/
DROP TABLE [dbo].[bill]
GO
/****** Object:  Table [dbo].[billdetail]    Script Date: 12/07/2012 15:25:27 ******/
DROP TABLE [dbo].[billdetail]
GO
/****** Object:  Table [dbo].[billdetail]    Script Date: 12/07/2012 15:25:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[billdetail](
	[bdno] [varchar](7) NOT NULL,
	[item] [int] NOT NULL,
	[bdobject] [varchar](4) NULL,
	[bdfound] [varchar](4) NULL,
	[bdamount] [numeric](14, 2) NULL,
	[bdbankbook] [varchar](7) NULL,
	[bdacccode] [varchar](7) NULL,
	[bdfoundtype] [char](1) NULL,
	[bdpaytype] [varchar](2) NULL,
	[bdflag] [char](1) NULL,
 CONSTRAINT [PK_billdetail] PRIMARY KEY CLUSTERED 
(
	[bdno] ASC,
	[item] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[billdetail] ([bdno], [item], [bdobject], [bdfound], [bdamount], [bdbankbook], [bdacccode], [bdfoundtype], [bdpaytype], [bdflag]) VALUES (N'1021087', 1, N'22', N'000', CAST(5000.00 AS Numeric(14, 2)), NULL, N'1004', NULL, NULL, N'N')
INSERT [dbo].[billdetail] ([bdno], [item], [bdobject], [bdfound], [bdamount], [bdbankbook], [bdacccode], [bdfoundtype], [bdpaytype], [bdflag]) VALUES (N'1021088', 1, N'21', N'000', CAST(500.00 AS Numeric(14, 2)), NULL, N'1006', NULL, NULL, N'N')
INSERT [dbo].[billdetail] ([bdno], [item], [bdobject], [bdfound], [bdamount], [bdbankbook], [bdacccode], [bdfoundtype], [bdpaytype], [bdflag]) VALUES (N'1021089', 1, N'21', N'000', CAST(5000.00 AS Numeric(14, 2)), NULL, N'1006', NULL, NULL, N'N')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[bill]    Script Date: 12/07/2012 15:25:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bill](
	[bid] [varchar](8) NULL,
	[bno] [varchar](7) NOT NULL,
	[bperiod] [varchar](5) NULL,
	[bdate] [datetime] NULL,
	[btotal] [numeric](14, 2) NULL,
	[bpaytype] [varchar](2) NULL,
	[bbank] [varchar](25) NULL,
	[bbankname] [varchar](100) NULL,
	[bbrance] [varchar](40) NULL,
	[brefno] [varchar](30) NULL,
	[brefdate] [datetime] NULL,
	[buserid] [varchar](5) NULL,
	[bfrom] [varchar](150) NULL,
	[bryid] [varchar](5) NULL,
	[bloc] [varchar](2) NULL,
	[bspiid] [varchar](5) NULL,
	[bentry] [datetime] NULL,
	[bcomid] [varchar](2) NULL,
	[bcancelid] [varchar](7) NULL,
	[receivedate] [datetime] NULL,
	[bstatus] [char](1) NULL,
	[bproject] [varchar](10) NULL,
	[bremark] [varchar](255) NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[bno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[bill] ([bid], [bno], [bperiod], [bdate], [btotal], [bpaytype], [bbank], [bbankname], [bbrance], [brefno], [brefdate], [buserid], [bfrom], [bryid], [bloc], [bspiid], [bentry], [bcomid], [bcancelid], [receivedate], [bstatus], [bproject], [bremark]) VALUES (N'00024967', N'1021087', N'02980', CAST(0x0000A0F500000000 AS DateTime), CAST(5000.00 AS Numeric(14, 2)), N'22', NULL, NULL, NULL, NULL, NULL, N'ADMIN', NULL, N'00001', NULL, N'00001', NULL, NULL, NULL, CAST(0x0000A0F500000000 AS DateTime), N'A', NULL, NULL)
INSERT [dbo].[bill] ([bid], [bno], [bperiod], [bdate], [btotal], [bpaytype], [bbank], [bbankname], [bbrance], [brefno], [brefdate], [buserid], [bfrom], [bryid], [bloc], [bspiid], [bentry], [bcomid], [bcancelid], [receivedate], [bstatus], [bproject], [bremark]) VALUES (N'00013069', N'1021088', N'02980', CAST(0x0000A0F500000000 AS DateTime), CAST(500.00 AS Numeric(14, 2)), N'22', NULL, NULL, NULL, NULL, NULL, N'ADMIN', NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A0F500000000 AS DateTime), N'I', NULL, NULL)
INSERT [dbo].[bill] ([bid], [bno], [bperiod], [bdate], [btotal], [bpaytype], [bbank], [bbankname], [bbrance], [brefno], [brefdate], [buserid], [bfrom], [bryid], [bloc], [bspiid], [bentry], [bcomid], [bcancelid], [receivedate], [bstatus], [bproject], [bremark]) VALUES (N'00024967', N'1021089', N'02980', CAST(0x0000A0F600000000 AS DateTime), CAST(5000.00 AS Numeric(14, 2)), N'22', NULL, NULL, NULL, NULL, NULL, N'ADMIN', NULL, N'00001', NULL, N'00001', NULL, NULL, NULL, CAST(0x0000A0F600000000 AS DateTime), N'A', NULL, NULL)
GO
print 'Processed 100 total records'
