USE [foundation]
GO
/****** Object:  Table [dbo].[paytype_code]    Script Date: 07/01/2012 12:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[paytype_code](
	[pt_code] [varchar](2) NOT NULL,
	[pt_title] [varchar](60) NULL,
	[pt_abbr] [varchar](20) NULL,
	[pt_status] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[paytype_code] ([pt_code], [pt_title], [pt_abbr], [pt_status]) VALUES (N'11', N'เช็คธนาคารไทยพาณิชย์ จำกัด', N'เช็ค', N'C')
INSERT [dbo].[paytype_code] ([pt_code], [pt_title], [pt_abbr], [pt_status]) VALUES (N'12', N'เช็คธนาคารนครหลวงไทย', N'เช็ค', N'C')
INSERT [dbo].[paytype_code] ([pt_code], [pt_title], [pt_abbr], [pt_status]) VALUES (N'13', N'เช็คธนาคารทหารไทย', N'เช็ค', N'C')
/****** Object:  Table [dbo].[found_code]    Script Date: 07/01/2012 12:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[found_code](
	[fd_code] [varchar](4) NOT NULL,
	[fd_title] [varchar](100) NULL,
	[fd_since] [varchar](4) NULL,
	[fd_abbr] [varchar](30) NULL,
	[fd_start] [date] NULL,
	[fd_end] [date] NULL,
	[fd_budget] [numeric](14, 2) NULL,
	[fd_status] [varchar](1) NULL,
	[fd_codetype] [varchar](1) NULL,
	[fd_owner] [varchar](150) NULL,
	[fd_prefix] [varchar](30) NULL,
	[fd_acccode] [varchar](6) NULL,
	[fd_flagpay] [varchar](1) NULL,
	[fd_contact] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[found_code] ([fd_code], [fd_title], [fd_since], [fd_abbr], [fd_start], [fd_end], [fd_budget], [fd_status], [fd_codetype], [fd_owner], [fd_prefix], [fd_acccode], [fd_flagpay], [fd_contact]) VALUES (N'000', N'ช่วยเหลือสวัสดิการเจ้าหน้าที่โรงพยาบาลราชวิถี', N' ', NULL, NULL, NULL, CAST(0.00 AS Numeric(14, 2)), NULL, N'1', NULL, N'กองทุน', N'408000', N'0', NULL)
INSERT [dbo].[found_code] ([fd_code], [fd_title], [fd_since], [fd_abbr], [fd_start], [fd_end], [fd_budget], [fd_status], [fd_codetype], [fd_owner], [fd_prefix], [fd_acccode], [fd_flagpay], [fd_contact]) VALUES (N'001', N'งานโรคไต                                                                        ', N'2537', N'ก.โรคไต             ', NULL, NULL, CAST(0.00 AS Numeric(14, 2)), NULL, N'1', NULL, N'กองทุน', N'410001', N'0', NULL)
INSERT [dbo].[found_code] ([fd_code], [fd_title], [fd_since], [fd_abbr], [fd_start], [fd_end], [fd_budget], [fd_status], [fd_codetype], [fd_owner], [fd_prefix], [fd_acccode], [fd_flagpay], [fd_contact]) VALUES (N'002', N'งานโรคหัวใจอายุรกรรม                                                            ', N'2537', N'ก.โรคหัวใจ          ', NULL, NULL, CAST(0.00 AS Numeric(14, 2)), NULL, N'1', NULL, N'กองทุน', N'410003', N'0', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
/****** Object:  Table [dbo].[bank_code]    Script Date: 07/01/2012 12:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bank_code](
	[bk_code] [varchar](2) NOT NULL,
	[bk_title] [varchar](100) NULL,
	[bk_abbr] [varchar](20) NULL,
	[bk_status] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[bank_code] ([bk_code], [bk_title], [bk_abbr], [bk_status]) VALUES (N'01', N'ไทยพาณิชย์ จำกัด', N'ธนาคาร', NULL)
INSERT [dbo].[bank_code] ([bk_code], [bk_title], [bk_abbr], [bk_status]) VALUES (N'02', N'นครหลวงไทย', N'ธนาคาร', NULL)
INSERT [dbo].[bank_code] ([bk_code], [bk_title], [bk_abbr], [bk_status]) VALUES (N'03', N'ทหารไทย', N'ธนาคาร', NULL)
/****** Object:  Table [dbo].[acccode]    Script Date: 07/01/2012 12:37:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[acccode](
	[accid] [varchar](6) NULL,
	[accdesc] [varchar](100) NULL,
	[accstatus] [varchar](1) NULL,
	[acctype] [varchar](1) NULL,
	[accno] [varchar](20) NULL,
	[accasset] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[acccode] ([accid], [accdesc], [accstatus], [acctype], [accno], [accasset]) VALUES (N'101000', N'เงินสด', NULL, N'1', NULL, NULL)
INSERT [dbo].[acccode] ([accid], [accdesc], [accstatus], [acctype], [accno], [accasset]) VALUES (N'301000', N'ทุนเริ่มแรก', NULL, N'3', NULL, NULL)
INSERT [dbo].[acccode] ([accid], [accdesc], [accstatus], [acctype], [accno], [accasset]) VALUES (N'302000', N'ทุนกองทุนในมูลนิธิฯ', NULL, N'3', NULL, NULL)
GO
print 'Processed 100 total records'
